* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(63, 61, 61);
    width: 100%;

}

.sdiv img {
    padding-top: 15px;
    transform: translatex(70px);
}

.navbar {
    display: flex;
    position: fixed;
    z-index: 10;
    height: 100px;
    width: 100%;
    background-color: black;
    opacity: 0.86;
}

.order {
    transform: translatex(100px);
    display: flex;
    color: white;

}

.order li {
    margin: 23px;
}

.order li:first-child {
    list-style-type: '🏠';
}

.order li:nth-child(2) {
    list-style-type: '🎬';
}

.order li:nth-child(3) {
    list-style-type: 'ᛏ';

}

.order li:nth-child(4) {
    list-style-type: '📺';
}

.snddiv:first-child {
    opacity: 0.44;
    cursor: pointer;
} 
.snddiv button {
    cursor: pointer;
    transform: translatex(50%);
    margin-bottom: 23px;
    
}
.input{
    height: 70px;
    background-color: rgb(40, 39, 39);
    width: 68vw;
    padding-top:15px ;
    transform: translatex(25%);
    padding-left:1.2%;
    border-radius: 12px;
    
   
}
.snddiv input{
    color: white;
    padding-left: 20px;

    border-radius: 12px;
    height: 40px;
    width: 65vw;
   background-color: rgb(48, 47, 47);
   
 
}
.ullist{
    display: flex;
    transform: translatex(5px);
   list-style: none;
    cursor: pointer;
    position: relative;
    z-index: 10;
    color: white;
  
    
}
.ullist li{
    margin: 5px;
    width: 250px;
    height: 20px;
    border: 1px solid rgb(57, 55, 55);
    position: relative;
    background-color: rgb(90, 88, 88);;
    text-align: center;
    z-index: 10;

}
li:hover{
    background-color: red;
}
.firsticon{

    color: white;
    padding-top: 25px;
    transform: translatex(60px);
}
.firsticon img{
   background-color: red;
}
.nextpage button{
    margin: 23px;
    height: 30px;
    color: red;
    background-color: yellow;
    
}